/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.container{
	max-width:750px;
	margin: 0 auto;

}

header{

	margin: 0px 0px 20px 0;
	min-height: 0;
	width: 748px;


}

header nav {
	text-decoration: none;
	padding: 5px ;
	margin: 0 auto;

 } 
header .logo{
	display: inline-block;
	width: 175px;
	position: relative;
	margin-left: 40px 
}
header nav  a {
	color:grey;
	text-decoration: none;
	margin: 0 10px;
	padding: 2px;
	display: inline-block;
	text-decoration: none;
	margin-bottom: 20px;
	text-align: center;
}

.container section .main-title{
    display: inline-block;
    width: 45%;
    text-align: center;
    padding: 0px;
    top: 0;
    font-size: 60px;
    line-height: 1.28;
}

.container section .header-img{
	display: inline-block;
	width: 45%;

}
section button{
	border: none;
	padding: 15px 65px;
	font-size: 16px;
	font-weight: 900; 

}

.container section{
	margin: 0px 0px 5px 0px; 
}

main section .features{
	display: inline-block;
	width: 45%;
	margin: 30px;
}
main section .about{
	display: inline-block;
	width: 45%;
}


.middle-img{
	width: 100%;
	height: 185px;

}


address nav a {
	text-decoration: none;
	line-height: 1.6 ;
	color: black;
	font-weight: bold;
}
.vision{
	display: inline-block;
	width: 30%;
	margin: 7px;
}
.product{
	display: inline-block;
	width: 30%;
	margin: 5px;

}
.services{
	display: inline-block;
	margin: 7px 0px 10px 20px;
	width: 30%;
	
}
button {
	border: none;
	color: black;
	text-align: center;
	opacity: 0.6;
	transition: 0.3s;
  }
  
  button:hover {opacity: 1}

footer p {
	margin: 20px;
	text-align: center;
}